<div class="mobile-wrapper">
  {% comment %}
    <!-- I am hiding the cart as the product page goes directly to the order page. -->
  <div class="header-cart__wrapper">
    <a href="/cart" class="CartToggle header-cart"></a>
    <span class="header-cart__bubble cartCount{% if cart.item_count < 1 %} hidden-count{% endif %}"></span>
  </div>
  {% endcomment %}
  <div class="logo-wrapper logo-wrapper--image">
    {% if template == 'index' %}
      <h1 class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        <a href="/" itemprop="url">
          <img src="{{ 'cleancult-logo-black.png' | asset_img_url: '1024x' }}"
          alt="Cleancult Navigation Logo"
          class="logo-image"
          >
        </a>
    {% if template == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}
  </div>
  <a href class="menuToggle header-hamburger"></a>
</div>
<div class="header-menu nav-wrapper">
  {% comment %}
    List out your main-menu linklist (default)

    More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
  {% endcomment %}
  <ul class="main-menu accessibleNav">
    {% if section.settings.main_menu_linklist %}
      {% assign main_menu_linklist = section.settings.main_menu_linklist %}
    {% else %}
      {% assign main_menu_linklist = 'main-menu' %}
    {% endif %}
    {% for link in linklists[main_menu_linklist].links %}
      {% include 'nav-item' %}
    {% endfor %}
    {% comment %}
    <!-- I am hiding the cart as the product page goes directly to the order page. -->
    <li class="cart-text-link">
      <a href="/cart" class="CartToggle">
        {{ 'layout.cart.title' | t }}
        <span class="cartCost {% if cart.item_count < 1 %} hidden-count {% endif %}">(<span class="money">{{ cart.total_price | money }}</span>)</span>
      </a>
    </li>
    {% endcomment %}
  </ul>
</div>
